.balls {
    display: block;
    max-width: 1440px;
    
.balls__title {
    font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 53px;

color: #08A5A9;


}
.balls-list {
}
.balls-list__item {
}
.balls__item-img-down {
}
.balls__item-img-top {
}
.balls__item-text {
}
}