
.header {max-width: 1440px;
    margin: auto;
}
.header__inner {
    display: flex;
    max-width: 1142px;
    margin: auto;
    
    justify-content: space-between;
}
.header__text {
    padding-top: 47px;
    font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 27px;

color: #7A7A7A;
}
.header__link {padding-top: 28px;
}
.header__link-img {

}
.header__navigation {
    max-width: 675px;
    margin: auto;
    margin-top: 47px;
}
.navigation-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navigation-list__item {

    


}
.navigation-list__item-link {
    display: block;
    text-decoration: none;
    font-family: "Open Sans";
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 34px;

/* identical to box height */

color: #333333;


}