
.price {
    
}
.price__title {
    display: flex;
    max-width: 1440px;
    margin: auto;
    margin-top: 43px;
    justify-content: center;
    text-align: center;
    font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 53px;

color: #F5C3D2;
    margin-top: 75px;
    position: relative;
    span {
        position: relative;
    }
}


.price__title::before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: 50%;
    width: 602px;
    height: 1px;
    background-color: blue;
}
.price__title::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 839px;
    width: 602px;
    height: 1px;
    background-color: blue;
}
.price-tabs {
    display: flex;
    max-width: 720px;
    margin: auto;
}
.price-tabs__input {
    display: none;
}

.price-tabs-plus__label-wrap {
    display: flex;
    max-width: 720px;
    margin: auto;
    justify-content: space-between;
    gap: 69px;
}
.price-tabs-plus__label {
    display: block;
    font-family: "Open Sans";
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 34px;
margin-top: 66px;


/* identical to box height */
text-align: center;

color: #A29285;
}
.price-tabs-plus__body {
    display: none;
}
.price-tabs-plus__info {
}
.price-tabs-plus__info-text {
    font-family: "Open Sans";
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 34px;

color: #000000;


}
.price-tabs-plus__info-text-span {
    font-family: Open Sans;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 34px;
text-align: right;

color: #000000;
position:relative;
span {
    position: relative;

}


}
#info0:checked ~ .plus__label-wrap #info0label,
#info1:checked ~ .plus__label-wrap #info1label,
#info2:checked ~ .plus__label-wrap #info2label,
#info3:checked ~ .plus__label-wrap #info3label {
    display: block;
}
#info0:checked ~ #plus-body0,
#info1:checked ~ #plus-body1,
#info2:checked ~ #plus-body2,
#info3:checked ~ #plus-body3 {
    display: flex;
}