.price {
    
}
.price__title {
    display: flex;
    max-width: 1440px;
    margin: auto;
    margin-top: 43px;
    justify-content: center;
    text-align: center;
    font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 53px;

color: #F5C3D2;
    margin-top: 75px;
    position: relative;
    span {
        position: relative;
    }
}


.price__title::before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: 50%;
    width: 602px;
    height: 1px;
    background-color: blue;
}
.price__title::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 839px;
    width: 602px;
    height: 1px;
    background-color: blue;
}

.price-tabs {
    font-size: 0;
    margin-top: 20px;
}
.price-tabs__input {
    display: none;
}
#tab-btn-1:checked
.price-tabs__label {
    display: inline-block;
    text-align:center;
    cursor: pointer;
    position: relative;
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 34px;

/* identical to box height */
text-align: center;

color: #A29285;
}
.price-tabs__tabcontent {

}
.price-tabs__tabcontent-list {
    display: block;
    max-width: 737px;
}
.price-tabs__tabcontent-list-item {
}
.price-tabs__tabcontent-list-item-text {
position: relative;
    span{
        position: relative;

    }
}
.price-tabs__tabcontent-list-item-text::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 839px;
    width: 458px;
    height: 1px;
    background-color: blue;
    
}
    






.