
.slider {display: block;
    max-width: 1440px;
}
.swiper-container {
    position: relative;
    margin: auto;
}
.swiper-wrapper {
}
.swiper-slider {
}
.slider__title {
}
.slider__img {
}
.slider__text {
}